services: 
  database:
    image: postgres:latest
    ports:
      - '5432:5432'
    environment: 
      POSTGRES_USER: nvim
      POSTGRES_PASSWORD: nvim
      POSTGRES_DB: nvim.app
      POSTGRES_INITDB_ARGS: --encoding=UTF-8
    volumes:
      - db-data:/var/lib/postgresql/data
    container_name: nvim-app-database

  # xtdb:
  #   image: ghcr.io/xtdb/xtdb:latest
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 128M
  #   ports:
  #     - '5442:5432'
  #     - '5080:8080'
  #     - '5030:3000'
  #   volumes:
  #     - xtdb-data:/var/lib/xtdb
  #   container_name: nvim-app-xtdb

  chromedriver:
    image: erseco/alpine-chromedriver
    deploy:
      resources:
        limits:
          memory: 512M
    ports:
      - "9515:9515"
    container_name: chromedriver
    environment:
      - CHROMEDRIVER_WHITELISTED_IPS='' # Disable IP whitelisting
    restart: unless-stopped

  web:
    build: .
    depends_on:
      - database
      # - xtdb
    ports:
      - "9080:9080"
      - "127.0.0.1:7000:7000"
    environment:
      NVIM_APP_HOST: 0.0.0.0
      NVIM_APP_PORT: 9080
      NVIM_APP_REPL_PORT: 7000
      DATABASE_URL: jdbc:postgresql://database:5432/nvim.app
      DATABASE_USER: nvim
      DATABASE_PASSWORD: nvim
      XTDB_URL: jdbc:xtdb://xtdb:5432/xtdb
      # LOGBACK_LOGLEVEL: WARN
    volumes:
      - web-public:/app/web/public
    container_name: nvim-app
    networks:
        coolify:
            aliases:
                - nvim-app
    labels:
      - traefik.enable=true
      - traefik.http.services.web.loadbalancer.server.port=9080

volumes:
  db-data:
  # xtdb-data:
  web-public:

networks:
    coolify:
        external: true
        name: coolify
        attachable: true
