{:secrets #include "../dev/.secrets.edn"

 :server  {:port #long #or [#env NVIM_APP_PORT 6080]
           :host #or [#env NVIM_APP_HOST "localhost"]
           :cookie-key #profile {:default "1234567890123456" :dev "1234567890123456"}}

 :db-spec {:jdbc-url #or [#env DATABASE_URL "jdbc:postgresql://localhost:5432/nvim.app"]
           :username #or [#env DATABASE_USER "nvim"]
           :password #or [#env DATABASE_PASSWORD "nvim"]
           :connection-init-sql "SET pg_trgm.similarity_threshold = 0.16"
           :logging? #profile {:default false :dev false}}

 :repl    {:port #long #or [#env NVIM_APP_REPL_PORT 7700]
           :enable #or [#env NVIM_APP_REPL_ENABLE false]}

 :sched    {:enable #profile {:default true :dev false}
            :update-repos-interval-hr 4
            :update-previews-interval-hr 168}

 :github  {:token #or [#env GITHUB_TOKEN #ref [:secrets :github :token]]
           :client-id #or [#env GITHUB_CLIENT_ID #ref [:secrets :github :client-id]]
           :client-secret #or [#env GITHUB_CLIENT_SECRET #ref [:secrets :github :client-secret]]
           :redirect-uri #profile {:default "https://nvim.app/auth/github/callback" :dev "http://127.0.0.1:3000/auth/github/callback"}
           :auth-url "https://github.com/login/oauth/authorize"
           :token-url "https://github.com/login/oauth/access_token"
           :user-url "https://api.github.com/user"
           :scope "user:email"}

 :chrome  {:host #profile {:default "chromedriver" :dev "localhost"}
           :port #profile {:default 9515}}

 :app     {:env #profile {:default :prod :dev :dev}
           :update-on-start? #profile {:default false :dev false}
           :features {:auth #profile {:default true :dev true}
                      :preview #profile {:default true :dev true}}}

 :telegram {:bot-token #or [#env TELEGRAM_BOT_TOKEN #ref [:secrets :telegram :bot-token]]
            :chat-id #or [#env TELEGRAM_CHAT_ID #ref [:secrets :telegram :chat-id]]
            :enable #profile {:default true :dev false}}}
