@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.htmx-indicator{
     opacity:0;
     transition: opacity 500ms ease-in;
     display: contents;
 }
 .htmx-request .htmx-indicator{
     opacity:1;
 }
 .htmx-request.htmx-indicator{
     opacity:1;
 }
